<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BetteR &mdash; REST API Test Client</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="main.css">
  <script type="text/javascript" src="jquery.min.js"></script>
  <script type="text/javascript" src="main.js"></script>
</head>

<body role="document">

  <!-- TOP NAV BAR -->
  <div class="navbar-collapse" id="header">
    <div class="container">
      <ul class="nav navbar-nav header-ul" style="display:inline-block;">

        <!-- BRANDING -->
        <li style="float:left">
          <h1 style="margin-top:16px">BetteRest &mdash; REST API Test Client</h1>
        </li>

        <!-- DROPDOWN MENU -->
        <li style="float:right">
          <a id="dropdown_settings" class="header-li">
            Settings <span class="caret"></span>
          </a>
          <ul id="dropdown">
            <li id="dropdown_configuration" onclick="modalToggle('config-modal')">
              <a>Configuration</a>
            </li>
            <li id="dropdown_load_request" onclick="savedRequestList()">
              <a>Load Request</a>
            </li>
            <li id="dropdown_variables" onclick="modalToggle('variables-modal')">
              <a>Variables</a>
            </li>
            <li id="dropdown_upload" onclick="modalToggle('file-upload-modal')">
              <a>File Upload</a>
            </li>
            <li id="dropdown_import" onclick="modalToggle('import-modal')">
              <a>Import</a>
            </li>
            <li id="dropdown_logs" onclick="logsList()">
              <a>Logs</a>
            </li>
            <li id="dropdown_quit" onclick="quit()">
              <a>Quit</a>
            </li>
          </ul>
        </li>

        <!-- WARNINGS -->
        <li class="header-li" id="warning-header">
          <a id="warning-text" class="header-button caution" style="display:none" tooltip=""></a>
        </li>

      </ul>
    </div>
  </div>


  <!-- PAGE CONTENT -->
  <div class="container">

      <!-- URL -->
      <div>
        <h2><div id="headingReq" onclick="toggleRequestVisibility()">[&ndash;] Request</div></h2>

        <div style="width:100%" class="box" id="path">
          <select id="requestType" class="form-control form-field-small" name="requestType" style="width:100px; display:inline-block; float:left">
            <% @requests.each do |request| %>
            <option value="<%= request %>"><%= request %></option>
            <% end %>
          </select>
          <input type="text" class="form-control form-field-small url-input" name="url" id="url" placeholder="URL" autocomplete="off">
          <select id="times" name="times" class="form-control form-field-small" style="width:100px; display:inline-block">
            <% @times.each do |number| %>
            <option value="<%= number %>"><%= number %> <% if number == "1" %>time<% else %>times<% end %></option>
            <% end %>
          </select>
          <button type="button" tabindex="-1" class="close" onclick="clearURL()">
            <span style="line-height:inherit" aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
        </div>
      </div>


      <!-- AUTH -->
      <div>
        <h2><div id="headingAuth" onclick="toggleAuthVisibility()">[&ndash;] Authentication</div></h2>
        <div class="box" id="auth">
          <div id="authSelect">
            <span id="auth-span">
              <label class="form-label" for="basicAuthSelect">
                <input id="basicAuthSelect" class="no-back-border" type="radio" name="authType" checked="true" style="width:20px;">Basic
              </label>
              <label class="form-label" for="digestAuthSelect">
                <input id="digestAuthSelect" class="no-back-border" type="radio" name="authType" style="width:20px;">Digest
              </label>
            </span>
          </div>
          <div id="authFields">
            <input class="form-control auth-input" type="text" name="usr" id="usr" placeholder="Username"  />
            <input class="form-control auth-input" type="text" name="pwd" id="pwd" placeholder="Password" />
            <button type="button" tabindex="-1" class="close" onclick="clearAuthCredentials()">
              <span style="line-height:inherit" aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
          </div>
        </div>
      </div>


      <!-- HEADERS -->
      <div>
        <h2><div id="headingHead" onclick="toggleHeaderVisibility()">[&ndash;] Headers</div></h2>
        <div class="box" id="headers">
          <div id="headerfieldsAll">
            <% @header_hash.each_with_index do |(key, value), index| %>
            <div id="headerfields<%= index %>" class="headerContainer" >
              <input type="text" value="<%= key %>" name="key" id="key<%= index %>" placeholder="Name" class="key form-control head-input" autocomplete="off"/>
              <input type="text" value="<%= value %>" name="value" id="value<%= index %>" placeholder="Value" class="value form-control head-input" autocomplete="off"/>
              <button id="close<%= index %>" tabindex="-1" type="button" class="close" onclick="removeRow(this)">
                <span style="line-height:inherit" aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
            </div>
            <% end %>
          </div>
          <div>
            <input class="btn btn-borderless" type="button" value="Add" id="add" onclick="addNewHeader()"/>
          </div>
        </div>
      </div>


      <!-- PAYLOAD -->
      <div>
        <h2><div id="headingData" onclick="toggleDataVisibility()">[&ndash;] Payload</div></h2>
        <div class="box" id="data">
          <textarea class="form-control" name="payload" id="payload" placeholder=" Payload Data" spellcheck="off"></textarea>
          <div id="filename" style="display:none; z-index:2; text-align:center; margin-top:5px; margin-bottom:5px"></div>
          <div id="clear-file" style="display:none" onclick="clearFile()">Remove File</div>
        </div>
      </div>


      <!-- SUBMIT BUTTONS -->
      <div>
        <input id="submit_request" type="button" value="Send" class="btn width13 submit" onclick="sendRequest()">
        <input type="button" value="Save" class="btn width13 submit" onclick="modalToggle('save-modal')">
        <input type="button" value="Clear All" class="btn width13 submit" onclick="clearAllFields()">
      </div>


      <!-- RESPONSE -->
      <div>
        <h2><div  id="headingResults" style="margin-top:10px" onclick="toggleResultsVisibility()">[&ndash;] Results</div></h2>
        <div class="box" id="results">
          <div id="response-status" class="semi-bold">
            Return Code: <span id="returnCode"></span>
            <br/>
            Request Time: <span id="requestTime"></span>
          </div>
          <hr class="v-marginless">
          <div style="padding: 0px;">

            <ul id="response-filters">
              <li style="display:inline-block;" id="viewResponseData">
                <a class="btn btn-borderless" onclick="toggleResponseContent(this)" id="response-data-link" style="color:#337ab7">Response Data</a>
              </li>
              <li style="display:inline-block;" id="viewResponseHeaders">
                <a class="btn btn-borderless" onclick="toggleResponseContent(this)" id="response-header-link">Response Headers</a>
              </li>
              <li style="display:inline-block;" id="viewRequest">
                <a class="btn btn-borderless" onclick="toggleResponseContent(this)" id="request-header-link">Request Params</a>
              </li>
            </ul>

          </div>
          <div>
            <textarea class="form-control" style="min-height:180px; overflow:scroll; height:<%= @resultsHeight %>" id="resultsBody">
            </textarea>
            <textarea class="form-control" style="min-height:180px; overflow:scroll; display:none; font-size:15px; height:<%= @resultsHeight %>" id="results-req-head">
            </textarea>
            <textarea class="form-control" style="min-height:180px; overflow:scroll; display:none; font-size:15px; height:<%= @resultsHeight %>" id="results-resp-head">
            </textarea>
          </div>
        </div>
      </div>



      <!-- MODALS -->
      <div id="backdrop" style="display:none" onclick="modalHideAll()">

        <!-- SETTINGS MODAL-->
        <div id="config-modal" class="centered" tabindex="-1" role="dialog" onclick="returnFalse(event)" style="display:none;">
          <div class="modal-content" style="padding-left:15px; padding-right:15px; height:100%">
            <h4 style="text-align:center"><strong>Configuration</strong></h4>
            <hr>
            <div style="display:inline-block;width:100%; margin-bottom:15px">
              <div>
                <label class="form-label conf-label" for="followlocation">Follow Redirects</label>
                <input type="checkbox" name="followlocation" id="followlocation" class="checkbox" style="float:right"
                <% if @follow %>checked<% end %>>
              </div>
              <div>
                <label class="form-label conf-label" for="cookies">Send Cookies</label>
                <input type="checkbox" name="cookies" id="cookies" class="checkbox" style="float:right"
                <% if @cookies %>checked<% end %>>
              </div>
              <div>
                <label class="form-label conf-label" for="verbose">Verbose Response</label>
                <input type="checkbox" name="verbose" id="verbose" class="checkbox" style="float:right"
                <% if @verbose %>checked<% end %>>
              </div>
              <div>
                <label class="form-label conf-label" for="ssl_verifypeer">Verify SSL Peers</label>
                <input type="checkbox" name="ssl_verifypeer" id="ssl_verifypeer" class="checkbox" style="float:right"
                <% if @ssl %>checked<% end %>>
              </div>
              <div>
                <label class="form-label conf-label" for="logging">Log Requests</label>
                <input type="checkbox" name="logging" id="logging" class="checkbox" style="float:right"
                <% if @log_requests %>checked<% end %>>
              </div>
              <div>
                <label class="form-label conf-label" for="timeoutInterval">Timeout Interval (seconds)</label>
                <input type="number" min="0" max="3600" name="timeoutInterval" id="timeoutInterval" value="<%= @timeout_interval %>">
              </div>
            </div>
          </div>
        </div>


        <!-- FILE UPLOAD MODAL -->
        <div id="file-upload-modal" class="centered" tabindex="-1" role="dialog" style="display:none; z-index:11" onclick="returnFalse(event)">
          <div class="modal-content" style="padding-left:15px; padding-right:15px;">
            <h4 style="text-align:center"><strong>Attach File to Request</strong></h4>
            <hr>
            <div id="file-upload-warning" style="color:red; text-align:center;"></div>
            <div class="modal-body">
              <form id="upload_form" method="post" action="/upload" enctype="multipart/form-data">
                <input type="file" id="datafile" name="datafile">
                <div style="margin-top:25px; margin-bottom:5px; text-align:center">
                  <input type="submit" id="upload_submit" class="btn btn-block btn-simple" style="width:140px; margin-left:auto; margin-right:auto;" value="Upload">
                  <div id="clearFileUpload" class="btn btn-block btn-simple" style="width:140px; margin-left:auto; margin-right:auto;" onclick="clearFileUpload()">Clear</div>
                </div>
              </form>
            </div>
          </div>
        </div>


        <!-- IMPORT MODAL -->
        <div id="import-modal" class="centered" tabindex="-1" role="dialog" style="display:none; z-index:11" onclick="returnFalse(event)">
          <div class="modal-content" style="padding-left:15px; padding-right:15px;">
            <h4 style="text-align:center"><strong>Import from POSTMAN</strong></h4>
            <hr>
            <div id="import-warning" style="color:red; text-align:center;"></div>
            <div class="modal-body">
              <form id="import_form" method="post" action="/import" enctype="multipart/form-data">
                <input type="file" id="importfile" name="importfile">
                <div style="margin-top:25px; margin-bottom:5px; text-align:center">
                  <input type="submit" id="import_submit" class="btn btn-block btn-simple" style="width:140px; margin-left:auto; margin-right:auto;" value="Import">
                </div>
              </form>
            </div>
          </div>
        </div>


        <!-- SAVE REQUEST MODAL -->
        <div id="save-modal" class="centered" tabindex="-1" role="dialog" style="display:none; z-index:11" onclick="returnFalse(event)">
          <div class="modal-content" style="padding-left:15px; padding-right:15px;">
            <h4 style="text-align:center"><strong>Save Request</strong></h4>
            <hr>
            <div class="modal-body">
              <div>
                <label class="conf-label" for="collection_name">Collections</label>
                <input style="inline-block" class="form-control" type="text" id="collection_name" name="collection_name" placeholder=" Default">
              </div>
              <div style="margin-top:10px">
                <label class="conf-label" for="test_name">Name</label>
                <input class="form-control" type="text" id="test_name" name="test_name">
              </div>
              <div style="margin-top:25px; margin-bottom:5px; text-align:center">
                <div id="save_submit" class="btn btn-block btn-simple" style="width:140px; margin-left:auto; margin-right:auto;" onclick="save()">Save</div>
              </div>
            </div>
          </div>
        </div>


        <!-- LOAD REQUEST MODAL -->
        <div id="load-modal" class="centered" tabindex="-1" role="dialog" style="display:none; z-index:11" onclick="returnFalse(event)">
          <div class="modal-content" style="padding-left:15px; padding-right:15px;">
            <h4 style="text-align:center"><strong>Load Request</strong></h4>
            <hr>
            <div class="modal-body">
              <div id="reqdata"></div>
            </div>
          </div>
        </div>


        <!-- LOGS MODAL -->
        <div id="logs-modal" class="centered" tabindex="-1" role="dialog" style="display:none; z-index:11" onclick="returnFalse(event)">
          <div class="modal-content" style="padding-left:15px; padding-right:15px;">
            <h4 style="text-align:center"><strong>Logs</strong></h4>
            <hr>
            <div class="modal-body">
              <div id="logsdata"></div>
              <div id="clearAllLogs">
                <div class="btn btn-simple" style="width:200px" onclick="deleteAllLogs()">Delete All</div>
              </div>
            </div>
          </div>
        </div>


        <!-- VARIABLES MODAL -->
        <div id="variables-modal" class="centered" tabindex="-1" role="dialog" style="display:none; z-index:11" onclick="returnFalse(event)">
          <div class="modal-content" style="padding-left:15px; padding-right:15px; ">
            <h4 style="text-align:center"><strong>Variables</strong></h4>
            <hr>
            <div class="modal-body" style="margin-top:10px;">
              Will swap any instances of: <br/>
              <div style="width:100%; text-align:center; margin-top:10px; margin-bottom:10px;">
                <b>{{Key}}</b> for <b>Value</b>
              </div>
              Within headers, payload or URL
            </div>
            <div id="variables_list" style="margin-top:20px;">
              <input class="form-control var-input" type="text" name="varKey" id="varKey0" placeholder="Key" />
              <input class="form-control var-input" type="text" name="varValue" id="varValue0" placeholder="Value" />
            </div>
            <div style="margin-top:25px; margin-bottom:5px; text-align:center">
              <div id="addVariable" class="btn btn-block btn-simple" style="width:140px; margin-left:auto; margin-right:auto;" onclick="addVariables()">Add</div>
              <div id="clearVariables" class="btn btn-block btn-simple" style="width:140px; margin-left:auto; margin-right:auto;" onclick="clearVariables()">Clear</div>
            </div>
          </div>
        </div>
      </div>
      <!-- TODO: REMOVE -->
      <input type="hidden" id="payloadHeight" name="payloadHeight" value="100">
      <input type="hidden" id="responseHeight" name="responseHeight" value="180">

  </div>

</body>
</html>
